.CategoryDownloads {
    background-color: var(--fg-color-dark);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: -1rem;

    span {
        font-weight: 600;
    }   

    .downloads {
        margin-top: 0.5rem;
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.1rem;

        .download {
            word-break: break-all;
        }

        @media screen and (max-width: 500px) {
            margin-top: 0.75rem;
            gap: 0.25rem;
        }
    }
}