.loginBg {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22vh, 1fr));
    grid-gap: 2vh;
    grid-auto-flow: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    filter: brightness(0.25);
    width: 100%;

    .posterTrack {
        position: relative;
        width: 22vh;

        .poster {
            width: 22vh;
            height: 33vh;
            background: white;
            background-position: center;
            position: absolute;
            top: 100%;
            background-size: cover;
            border-radius: 0.25vw;
            box-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.548);
        }
    }
}

@keyframes posterUp {
    from {transform: translateY(0vh)}
    to {transform: translateY(-140vh)}
}