@import '/styles/variables.scss';

.message {
    background: $bg-color;
    position: fixed;
    max-width: 800px;
    width: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    color: white;

    h1 {
        margin-top: 0px;
    }

    button {
        margin-right: 15px;
        margin-top: 25px;
    }

    @media (max-width: 1000px) {
        max-width: 85%;
    }
}