@use '/styles/variables.scss' as *;

.message {
    background: $bg-color;
    position: fixed;
    max-width: 800px;
    width: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: white;
    animation: scale 0.2s ease;
    transform-origin: left top;

    h1 {
        margin-top: 0px;
    }

    button {
        margin-right: 15px;
        margin-top: 25px;
    }

    @media (max-width: 1000px) {
        max-width: 85%;
    }

    @keyframes scale {
        from{transform: scale(0.95) translate(-50%, -50%);}
        to{transform: scale(1) translate(-50%, -50%);}
    }
}