@import '/styles/variables.scss';

.sidebar {
    width: 105px;
    padding:10px 10px 10px 20px;
    background: $menu-color;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top:0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .topOptions {
        svg {
            margin-bottom: 20px;
        }
    }
    .bottomOptions {
        svg {
            margin-top: 20px;
        }
    }

    svg {
        color: $fg-color-light;
        width: 60px !important;
        font-size: 60px;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }

    @media (max-width: 1000px) {
        height: 80px;
        width: 100vw;
        flex-direction: row;
        bottom: 0px;
        top: unset;

        div {
            display: flex;
            align-items: center;
        }

        .topOptions {
            svg {
                margin-bottom: 0px;
                margin-right: 20px;
            }
        }
        .bottomOptions {
            svg {
                margin-top: 0px;
                margin-left: 20px;
            }
        }

        svg {
            width: 40px;
            font-size: 40px;
        }
    }
}