@import '/styles/variables.scss';

.sidebar {
    width: 105px;
    padding:10px 10px 10px 20px;
    background: $menu-color;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    top:0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .topOptions {
        svg {
            margin-bottom: 20px;
        }
    }
    .bottomOptions {
        svg {
            margin-top: 20px;
        }
    }

    svg {
        color: $fg-color-light;
        width: 60px !important;
        font-size: 60px;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}