.DownloadMedia {
    input {
        width: 100%;
        margin-right: 0.5rem;
    }

    .sourceSelector {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.5rem;

        button {
            border-radius: 0.5rem;
            transition: all .6s cubic-bezier(.16, 1, .3, 1);

            &.selected {
                transform: scale(.95);
                background-color: var(--fg-color-dark) !important;
                box-shadow: 0 0 5px orange !important;
            }
        }
    }

    .results {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .result {
            background: var(--fg-color-dark);
            padding: 1rem;
            border-radius: 0.5rem;
            transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

            &:hover {
                box-shadow: 0px 0px 10px orange;
                transform: scale(0.99);
            }

            .seeders {
                background-color: #498249;
            }

            .leechers {
                background-color: #b05555;
            }

            .seeders,
            .leechers {
                padding: 0.25rem 0.5rem;
                border-radius: 0.25rem;
            }
        }
    }
}