@use '/styles/variables.scss' as *;

.CaptionIndicator {
    width: min-content;
    display: flex;
    background: $bg-color;
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 50px;

    span {
        margin-right: 10px;
    }

    svg {
        width: 20px;
    }

    .CILoading {
        width: 20px;
        height: 20px;
        position: unset;

        &:after {
            width: 8px;
            height: 8px;
            background: $bg-color;
        }
    }
}