.Dashboard {
    .topBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;

        h3 {
            margin: 0;
        }

        img {
            height: 2rem;
        }
    }
}