.Category {
    
    .categories {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .files {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}