.PartyController {
    
    button.copyLinkButton {
        position: absolute;
        right: 1rem;
        top: 1rem;
        border-radius: 0.5rem;
        background-color: var(--fg-color-dark);
    }
}