.Message {
    position: absolute;
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 1rem;
    animation: fadeZoomIn 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    min-width: 30rem;
    max-height: 90vh;
    overflow: auto;

    &.processing {
        pointer-events: none;

        .spinnerContainer {
            display: block;
        }
        button {
            opacity: 0.5;
        }
    }

    .spinnerContainer {
        display: none;
        position: absolute;
        right: 1rem;
        top: 0rem;
        transform: scale(0.5);
        transform-origin: top right;
    }

    h1 {
        font-size: 1.5rem;
        margin: 0;
    }

    .actions {
        display: flex;
        margin-top: 2rem;
        gap: 0.5rem;
    }

    @media screen and (max-width: 1000px) {
        min-width: unset;
    }
}

@keyframes fadeZoomIn {
    from {transform: scale(0.9); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
} 