button.AddButton {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    height: 6rem;
    width: 6rem;
    transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    padding: 0;
    z-index: 1;
    
    &.active {
        transform: rotate(45deg);
    }

    span {
        background: linear-gradient(orange, gold);
        color: transparent;
        background-clip: text;
        font-size: 6rem;
        text-shadow: none;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

        &:hover {
            text-shadow: 0px 0px 20px rgba(255, 217, 0, 0.432);
            transform: scale(1.05);
        }
    }
}

.mainMenu {
    display: flex;
    gap: 1rem;
    animation: fadeZoomIn 0.6s cubic-bezier(0.16, 1, 0.3, 1);

    .menuOption {
        background-color: var(--fg-color-dark);
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 10rem;
        height: 10rem;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

        &:hover {
            box-shadow: 0px 0px 20px rgba(255, 166, 0, 0.692);
            transform: scale(0.95);
        }

        span {
            align-self: flex-end;
            font-size: 4rem;
        }

        h2 {
            align-self: flex-start;
            width: 50%;
            margin: 0;
            text-align: left;
        }
    }
}

@keyframes fadeZoomIn {
    from {transform: scale(0.9); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
} 