.User {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &.odd {
        background-color: var(--fg-color-dark);
    }

    .userInfo {
        display: flex;
        gap: 1rem;
        align-items: center;

        img {
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            border-radius: 99rem;
        }
    }

    button {
        display: flex;
    }

}