@use '/styles/variables.scss' as *;

.loadingIndicator {
    position: fixed;
    height: 5px;
    top: 0px;
    left: 0px;
    z-index: 9;
    opacity: 1;
    width: 100%;
    transition: opacity 0.5s 0.25s ease, width 0.5s ease;
    animation: loading-bar 60s 0.25s ease forwards;
    background: linear-gradient(to right, orange, gold);
}

@keyframes loading-bar {
    0% {width: 0%}
    5% {width: 43%}
    50% {width: 60%}
    80% {width: 90%}
    100% {width: 95%}
}