.add {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: linear-gradient(orange, gold);
    width: 75px;
    height: 75px;
    text-align: center;
    color: white;
    transition: transform 0.4s ease;
    line-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;

    &:hover, &:focus {
        cursor: pointer;
        transform: scale(1.1);
    }

    &.active {
        z-index: 100;

        &:focus {
            background: linear-gradient(darkred, red);
        }
    }

    svg {
        width: 40px !important;
        font-size: 40px;
        transition: transform 0.4s cubic-bezier(0.83, 0, 0.17, 1);

        &.active {
            transform: rotate(45deg);
        }
    }

    @media (max-width: 1000px) {
        bottom: 100px;
        right: 20px;
    }
}