.VideoPlayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

        &.hidden {
            opacity: 0;
            pointer-events: none;
            transform: translateX(-1rem);
        }

        img {
            position: absolute;
            top: -5vh;
            left: -5vw;
            height: 110vh;
            width: 100%;
            object-fit: cover;
            filter: blur(1.5rem) brightness(0.5);
            mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 25%, black 65%);
        }

        .details {
            width: 75%;
            padding: 2rem;
            position: relative;
            z-index: 3;

            h1 {
                font-size: 5rem;
                margin: 0;
            }

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }

            .options {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-top: 2rem;

                #playVideo {
                    background: linear-gradient(orange, gold);
                    background-clip: text;
                    color: transparent;
                    font-size: 6rem;
                    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

                    &:hover {
                        text-shadow: 0px 0px 20px rgba(255, 217, 0, 0.432);
                        transform: scale(1.05);
                    }
                }

                .back {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 3rem;
                    width: 3rem;
                    border-radius: 99rem;
                }

                .option {
                    transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

                    &:hover {
                        transform: scale(0.9);
                    }
                }

                div {
                    margin-left: 1rem;
                    
                    > * {
                        margin-right: 0.75rem;
                        border: 1px solid var(--fg-color-light);
                        padding: 0.5rem;
                        border-radius: 99rem;
                        backdrop-filter: blur(100px);
                    }
                }
            }
        }
    }
}