.Search {
    .catName {
        color: var(--fg-color-light);
    }

    .files {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .externalResults {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
}