.Chat {
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    pointer-events: none;

    .window {
        top: 0;
        left: 100%;
        background: #2d2d2d;
        height: 100%;
        width: 15rem;
        padding: 0rem 1rem 1rem 1rem;
        position: relative;
        box-shadow: inset 15px 0px 25px #242424;
        transition: left 0.3s cubic-bezier(0.22, 1, 0.36, 1);
        box-sizing: border-box;
        pointer-events: all;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            ::-webkit-scrollbar {
                height: 5px;
            }
        }

        &.open {
            left: calc(100% - 15rem);
        }

        input {
            width: 100%;
            border-radius: 0.5rem;
            border: none;
            margin-top: 1.5rem;
        }

        .messageContainer {
            display: flex;
            flex-direction: column-reverse;
            height: calc(100% - 5rem);
            overflow: hidden auto;
            mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 95%, transparent 100%);

            .message {
                background:#464646;
                padding: 0.5rem;
                border-radius: 0;
                position: relative;
                margin-top: 2.5rem;

                &.middle, &.last:not(.first) {
                    margin-top: 1px;

                    .nameLabel {
                        display: none;
                    }
                }

                &.first {
                    border-top-left-radius: 0.5rem;
                    border-top-right-radius: 0.5rem;
                }

                &.last {
                    border-bottom-right-radius: 0.5rem;
                }
                
                &.self {
                    &.last {
                        border-bottom-right-radius: 0rem;
                        border-bottom-left-radius: 0.5rem;
                    }
                    background: #6c6c6c;
                }

                .nameLabel {
                    position: absolute;
                    top: -1.35rem;
                    left: 0;
                    font-size: 0.9rem;
                }

                &.system {
                    background: transparent;
                    font-style: italic;
                    opacity: 0.75;
                    margin-top: 1.5rem;
                    padding: 0;
                    text-align: center;

                    .nameLabel {
                        display: none;
                    }
                }
            }
        }

        .userList {
            overflow: scroll hidden;
            position: relative;
            z-index: 9;
            padding: 1.25rem 3rem 1rem 1rem;
            margin: 1rem 0 0 -1rem;
            width: calc(100% + 2rem);
            mask-image: linear-gradient(270deg, rgba(0, 0, 0, 1) 95%, transparent 100%);
            box-shadow: 0px 0px 10px black;

            &:before {
                content: "Who's here?";
                position: absolute;
                top: -0.35rem;
            }

            span {
                padding: 0 0.75rem 0.25rem 0.75rem;
                background: #6c6c6c;
                border-radius: 99rem;
                white-space: nowrap;
                margin-right: 0.5rem;


                &:last-child {
                    margin-right: 5rem;
                }
            }
        }

        .buttonContainer {
            display: flex;
            position: absolute;

            img {
                filter: brightness(100) invert(1);
                height: 50%;
            }

            > *:hover {
                cursor: pointer;
                transform: scale(1.05);
                box-shadow: 0px 0px 5px orange;
            }

            .roomLink {
                position: relative;
                right: 15rem;
                top: 1.5rem;
                padding: 0.5rem 1.25rem;
                background: #2d2d2d;
                color: white;
                border-radius: 1rem;
                transition: all 0.2s ease;
                height: 1.5rem;
                display: flex;
                align-items: center;

                @media screen and (max-width: 575px) {
                    right: 12rem;
                }
            }

            .toggle {
                background: #2d2d2d;
                position: relative;
                width: 2.5rem;
                height: 2.5rem;
                right: 16rem;
                border-radius: 99rem;
                top: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.2s ease;

                .unreadNotif {
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 99rem;
                    background: linear-gradient(orange, gold);
                    position: absolute;
                    top: 0;
                    right: 0;
                    opacity: 0;
                    transform: scale(0);
                    transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

                    &.active {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                @media screen and (max-width: 575px) {
                    display: none;
                }
            }
        }

    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #464646;
    }
}