.toastContainer {
    width: 300px;
    right: 0;
    top: 15px;
    height: 80vh;
    position: fixed;
    pointer-events: none;
    z-index: 9;

    .toast {
        padding: 20px;
        color:white;
        background: linear-gradient(orange, gold);
        box-shadow: 0px 0px 20px #00000091;
        margin-bottom: 20px;
        animation: toast cubic-bezier(0.22, 1, 0.36, 1) forwards;
        overflow: hidden;
    }
}

@keyframes toast {
    0% {transform: translate(350px);}
    5% {transform: translate(0px);}
    85% {transform: translate(0px);}
    92% {transform: translate(350px); margin-bottom: 20px; padding: 20px; max-height: 75px;}
    100% {transform: translate(350px); margin-bottom: 0px; padding: 0px; max-height: 0px}
}