@import '/styles/variables.scss';

.downloadMedia {
    z-index: 99;

    .search {
        padding: 10px;
        height: 50px;
        width: 88%;
        display: inline-block;
    }
    .confirmSearch {
        width: 10%;
        height: 50px;
        display: inline-block;
        margin-left: 2%;
    }

    .results {
        margin-top: 50px;

        .result {
            padding: 20px;
            background: $fg-color-dark;
            margin-bottom: 20px;
            transition: box-shadow 0.4s ease, transform 0.4s ease, opacity 0.4s ease;

            &:hover {
                box-shadow: 0px 0px 5px orange;
                transform: scale(1.01);
                cursor: pointer;
            }

            &.inactive {
                opacity: 0.5;
                pointer-events: none;
            }
        }
    }
}