@import '/styles/variables.scss';

.downloadMedia {
    z-index: 99;

    .search {
        padding: 10px;
        height: 50px;
        width: 88%;
        display: inline-block;

        @media (max-width: 1000px) {
            width: 75%
        }
    }
    .confirmSearch {
        width: 10%;
        height: 50px;
        display: inline-block;
        margin-left: 2%;

        @media (max-width: 1000px) {
            width: unset;
        }
    }

    .results {
        margin-top: 50px;

        .result {
            padding: 20px;
            background: $fg-color-dark;
            margin-bottom: 20px;
            transition: box-shadow 0.4s ease, transform 0.4s ease, opacity 0.4s ease;
            word-break: break-all;
            display: flex;
            justify-content: space-between;
            border-radius: 5px;

            &:hover {
                box-shadow: 0px 0px 5px orange;
                transform: scale(1.01);
                cursor: pointer;
            }

            &.inactive {
                opacity: 0.5;
                pointer-events: none;
            }
            
            .dlInfo {
                display: flex;
                height: max-content;
                flex-shrink: 0;
                margin-left: 15px;

                .seeders {
                    padding: 3px 10px 3px 10px;
                    background: #498249;
                    margin-right: 5px;
                    border-radius: 5px;
                }
                .leechers {
                    padding: 3px 10px 3px 10px;
                    background: #b05555;
                    margin-right: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}