.FileEditor {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .files {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .file {
            padding: 1rem;
            background-color: var(--fg-color-dark);
            border-radius: 0.5rem;
            align-items: center;

            a:hover {
                text-decoration: underline;
            }

            button {
                display: flex;
            }
        }
    }
}