@use '/styles/variables.scss' as *;

.spaceUsage {
    height: 60px;
    width: 60px;
    background: $fg-color-light;
    border-radius: 60px;
    position: relative;

    .inner {
        width: 45px;
        height: 45px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 120px;
        background: $bg-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
            color: white;
        }

        .percent {
            font-size: 1rem;
            font-weight: bold;
        }

        .details {
            margin-top: -5px;
            font-size: 15px;
        }
    }
}