@import '/styles/variables.scss';

.spaceUsage {
    height: 200px;
    width: 200px;
    background: $fg-color-light;
    border-radius: 200px;
    position: relative;
    margin: 0 auto;

    .inner {
        width: 160px;
        height: 160px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 160px;
        background: $bg-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
            color: white;
        }

        .percent {
            font-size: 50px;
            font-weight: bold;
        }

        .details {
            margin-top: -10px;
        }
    }
}