@import '/styles/variables.scss';

.spaceUsage {
    height: 150px;
    width: 150px;
    background: $fg-color-light;
    border-radius: 150px;
    position: relative;

    .inner {
        width: 120px;
        height: 120px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 120px;
        background: $bg-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
            color: white;
        }

        .percent {
            font-size: 30px;
            font-weight: bold;
        }

        .details {
            margin-top: -10px;
        }
    }
}