.folders {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 190px));

    .folderContainer {
        background: linear-gradient($fg-color-light, $fg-color-dark);
        color: white;
        width: 150px;
        height: 150px;
        padding: 20px;
        text-align: center;
        position: relative;

        .folder {
            width: 100%;
            height: 100%;

            span {
                position: absolute;
                padding: 20px;
                bottom: 0;
                left: 0;
                pointer-events: none;
            }

        }

        .trash {
            position: absolute;
            right: 10px;
            top: 10px;

            &.fa-trash-alt {
                width: 20px;
            }
        }

        @media (max-width: 1000px) {
            width: 30vw;
            height: 30vw;
        }
    }

    @media (max-width: 1000px) {
        margin-top: 20px;
    }
}

.viewOptions {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-bottom: 25px;

    svg {
        width: 25px;
        font-size: 25px;

        &:hover {
            cursor: pointer;
        }
    }

    .listToggle {
        color: white;
        margin-bottom: 20px;
    }

}


.files {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 150px));

    .file {
        width: 225px;
        height: 350px;
        background-size: cover;
        color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px #00000063;

        @media (max-width: 1000px) {
            width: 28vw;
            height: 46vw;
        }
    }

    &.listView {
        grid-template-columns: repeat(auto-fit, 100%);

        .file {
            width: auto;
            background: $fg-color-dark;
            background-image: none;
            background-image: none !important;
            height: auto;
            color: white !important;
            box-shadow: none;

            &:hover {
                padding: 22px;
                margin: -2px 0px -2px -5px;
                box-shadow: 0px 0px 5px orange;
            }
        }
    }

}

.folderContainer, .file {
    transition: transform 0.4s ease, box-shadow 0.4s ease, opacity 0.4s ease, padding 0.4s ease, margin 0.4s ease;
    word-wrap: anywhere;

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
        box-shadow: 0px 0px 5px orange;
        padding: 25px;
        margin: -5px -5px -5px -5px;
    }

    &.dragging {
        transition: opacity 0.4s ease;
        pointer-events: none;
        z-index: 9;
    }
    &.droppable {
        opacity: 0.5;
    }

    span.posterLoaded {
        color: rgba(0,0,0,0);
    }
}

