@import './variables.scss';
@import './folderView.scss';
@import './downloads.scss';
@import './login.scss';

html,
body {
  background-color: $bg-color;
  padding: 0;
  margin: 0;
  font-family: halyard-display, sans-serif; 
  font-size: 18px;
}

h1, h2, h3 {
  font-family: halyard-text, sans-serif;
}
h1 {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
input {
  padding: 10px;
  box-sizing: border-box;
  font-family: halyard-text, sans-serif;
}
button:not(.link) {
  background: linear-gradient(orange, gold);
  border: none;
  padding: 10px 20px 10px 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 10px #0000004d;
  font-family: halyard-text, sans-serif;
}

.pageContainer {
  padding: 150px 50px 50px 155px; 
}
.body {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
.pageTitle {
  color: white;
  font-size: 90px;
  margin: 0;
  margin-top: -40px;
}
.loading {
  width: 50px;
  height: 50px;
  background: linear-gradient(orange, gold);
  animation: loading 1s linear infinite;
  margin: 0 auto;
  top: calc(50% - 50px);
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    margin: 0 auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
}

.video-js {
  width: 100%;
  height: 100%;
}
.video-js .vjs-control-bar {
  width: 80%;
  bottom: 50px;
  margin: 0 auto;
  height: 50px;
  padding-top: 10px;
  border-radius: 20px;
  background: $fg-color-dark;
}
.video-js .vjs-control-bar .vjs-progress-holder {
  margin-top: -10px;
}
.video-js .vjs-control {
  box-shadow: none;
}

.logo {
  margin: 0 auto;
  display: block;
  margin-bottom: 100px;
  width: 200px;
}
.home {
  margin-left: -5%;
}

@media (max-width: 1000px) {
  .pageContainer {
    padding: 20px;
    padding-top: 80px;
  }
  .pageTitle {
    font-size: 60px;
    margin-top: 40px;
    line-height: 65px;
  }
}

@keyframes loading {
  from {transform: rotate(0deg);}
  to {transform: rotate(364deg);}
}

@import url("https://use.typekit.net/nne8qgd.css");