.spaceUsage {
    height: 3.5rem;
    width: 3.5rem;
    background: var(--fg-color-light);
    border-radius: 3.5rem;
    position: relative;

    .inner {
        width: 3rem;
        height: 3rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 999rem;
        background: var(--bg-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
            color: white;
        }

        .percent {
            font-size: 1rem;
            font-weight: bold;
        }

        .details {
            margin-top: -5px;
            font-size: 15px;
        }
    }
}