@import '/styles/variables.scss';

.messageContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $overlay-color; 
    top: 0;
    //display: none;
    z-index: 9;

    &.visible {
        display: block;
    }

    .closeButton {
        width: 50px;
        height: 50px;
        background: linear-gradient(#530707, #973232);
        top: 20px;
        right: 20px;
        position: fixed;
        color:white;
        font-size: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 20px;
        }
    }

}