.menu {
    .menuOptionContainer {
        .menuOption {
            &.active {
                &.createFolder {
                    opacity: 1;
                    padding:20px;
                    box-sizing: border-box;
                    left: 20%;
                    width: 60%;
                    height: 100px;

                    .activeOptions {
                        display: flex;
                        height: 100%;
                        justify-content: space-between;

                        input, button {
                            height: 100%;
                        }
                        input {
                            width: 90%;
                            font-size: 30px;
                            background: #575757;
                            color: white;
                            border: none;

                            @media (max-width: 1000px) {
                                width: 65%;
                            }
                        }
                    }

                    @media (max-width: 1000px) {
                        left: 5%;
                        width: 90%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}